*.o
*.a
*.so
*.dylib
pi
test/test_agent
test/test_ai
test/test_extensions
test/test_harness
test/test_prompts
test/test_rpc
test/test_sdk
test/test_session
test/test_settings
test/test_skills
test/test_themes
test/test_tui
test/test_util
test/test_workflow
deps/lua5.4/
deps/libyaml/
deps/libyaml-src/
pi_asan
*.d
*.o
*.a
hello
hello.c
/pi
/rig
test/test_*
!test/test_*.c
!test/test.h
.rig/snapshots/
